<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	
  	
  	
  	<settings>
  			<setting name="jdbcTypeForNull" value="NULL"/>
  			
  			<setting name="defaultStatementTimeout" value="3000"/>
  	</settings>
  
  
  	<typeAliases>
  		<!--   <typeAlias type="VO클래스 패키지전체(VO클래스명도 포함)  ex) aaa.bbb.ccc.VO " alias="apply" /> < -->
  	</typeAliases>
  

  
  
  
  
  
  </configuration>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  