/* ========== board_list ========== */

body{
    height: 1500px;
   
    
}

.row{
    margin-top: 100px;
    margin-right: 10%;
    padding-left: 10%;

     
    
}

.row .table th{
    text-align: center;
}



.board-table{
    margin: 0 auto;
    float: none;

}
.sear-wrap{

    margin-bottom: 30px;
    margin-left: 10px;
	float:right;
	
    

}

.sear-wrap div{

	padding-left:300px;
	float:right;

}

.sear-wrap .md1{
	display:inline-block;
	padding:1px;
}
.sear-wrap .md2{
	display:inline-block;
	padding:1px;
}
.sear-wrap .md3{
	display:inline-block;
	padding:1px;
}



.sear-input{
    width: 200px;
   
    
}

.sear-select{
    width: 100px;
}

.table-bordered > thead > tr > th{
    background: #e7f2f9;
    color: #003366;

}
.table-bordered > tbody > tr > td > a,
.table-bordered > tbody > tr > td > a:hover {
    color: black;
}

.pagination{
    margin: 0;

}

.text-center .btn{
    float: right;
    border: 0;
    border-radius: 0;
    padding: 5px 10px ;
}





