 /* ========== write ========== */
body{
    height: 1500px;
}

.row{
    margin-top: 10px;
    padding-left: 20%;
}


.write-wrap{
    width: 70%;
    margin: 0 auto;
    float: none;
}

.t-control .t-title{
    width: 100px;

}

.t-control input{
    width: 200px;
}


.titlefoot{
    text-align: center;
     margin: 70px auto;
     float:right;
}

 
 
